nav{
  display: flex;
  justify-content: space-between;
}
.head{
  margin: auto;
  text-shadow: 10px;
  color: blue;
}
.cart{
  margin-right: 20px;
  margin-top: 20px;
  color: brown;
  border-radius: 10px;
  background-color: aqua;
}
.gameCard{
  width:400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  border: 2px solid black
}
.title{
  background-color: rgb(33, 235, 43);
  margin: auto;
  justify-content: center;
  align-items: center;
  color: blue;
  text-align: center;
}
.desc{
  background-color: antiquewhite;
  text-align: center;
}
.price{
  color: brown;
  text-align: center;
}
button{
  background-color: cadetblue;
  margin: auto;
  border-radius: 20px;
  margin-left: 125px;
}
.main{
  margin: auto;
  align-items: center;
}